<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  {% load static %}
  {% include "header.html"%}
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <br>
<div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">About Me</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
         <br><br><br><br>
         <h2 id="paragraph">
        I’m a computer science sophomore who’s interested in AI 
        and Software Engineering stuffs. I’m also interested  in 
        Japanese Culture stuffs. Currently studying at Universitas Indonesia. I consider myself as hardworking 
        and resilient person. Aspired to become lifelong-learner 
        and AI Engineer
         </p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <img  class="img-fluid" src='{% static "picts/profpic.png" %%}'>
    <div>
  </div>
</div>
</body>
{% include "footer.html"  %}
</html>

