<head>
  <title>Show Activity</title>
  {% load static %}
  {% include "header.html"%}
</head>
<body class="mainbody">
  {% include "navbar.html"  %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 id="heading">
          My Agenda
        </h1>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col">
        <table class="table table-bordered table-striped table-responsive-md table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Activity Name</th>
              <th scope="col">Place</th>
              <th scope="col">Category</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Description</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {%for item in form%}
            <tr>
              <td>{{item.name}}</th>
              <td>{{item.place}}</td>
              <td>{{item.category}}</td>
              <td>{{item.start_date}}</td>
              <td>{{item.end_date}}</td>
              <td>{{item.description}}</td>
              <td>
                <a class="btn btn-md btn-outline-primary py-0 text-white" style="font-size: 0.8em;"href="{%url 'delete_obj' item.id%}" role="button">Delete</a>
             </td>
            </tr>
          {% endfor%}
          </tbody>
        </table>
        <form class="status-form d-flex align-items-center justify-content-center" action="delete/">
            <button type="submit" class="save btn btn-primary text-white" id="submit">Clear Data</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% include "footer.html"  %}
