 <head>
    <title>Add Activity</title>
    {% load static %}
    {% include "header.html"%}
</head>
<body class="mainbody">
  {% include "navbar.html"  %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 id="heading">
          Add New Schedule
        </h1>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col">
            <form method="POST" class="status-form">
                      {% csrf_token %}
                      {{ form.as_p }}
              <button type="submit" class="save btn btn-primary text-white" id="submit">Submit</button>
            </form>
      </div>
    </div>
  </div>
</body>
{% include "footer.html"  %}
    		
