<html lang="en">
<head>
  <title>Contact Me</title>
  {% load static %}
  {% include "header.html"%}
</head>
<body class="mainbody">
   {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">Contact Me</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
<div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <p id="contact">Address : Villa Citra Bantarjati A8 No. 8, Tegal Gundil, North Bogor, Bogor, West Java. Indonesia</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="contact">Phone Number : (+62)89674234735</p>
            </div>
        </div>
</div>
</body>
{% include "footer.html"  %}
