<!DOCTYPE html>

<html lang="en">
<head>
  {% load static %}
  {% include "header.html"%}
</head>
<div class="container">
  <div class="row align-items-end">
    <br><br><br><br><br>
    <div class="col">
      <a href="mailto:krisnaihsani@gmail.com" class="nav-link">
              <img src="{% static 'picts/gmail-logo.png'%}" id="gmail">
        </a>
    </div>
    <div class="col">
      <a href="https://www.github.com/codefire53" class="nav-link">
            <img src="{% static 'picts/github-sign.png'%}" id="github">
       </a>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/mahardika-krisna-ihsani-8724a0166/" class="nav-link">
            <img src="{% static 'picts/linkedin-logo.png'%}" id="linkedin">
      </a>
    </div>
    <div class="col">
      <p id="copyright">Mahardika Krisna Ihsani © 2019</p>
    </div>
  </div>
</div>
