<html lang="en">
<head>
  <title>Hello</title>
  {% load static %}
  {% include "header2.html"%}
</head>
<body>
    <div class = "jumbotron">
        <div class = "container text-center">
            <h1 id="landingGreeting">Hello World!</h1>
            <p id="landingIntroduction">I'm Mahardika Krisna Ihsani and welcome to my personal website</p>
            <div class="row">
                <div class="col-md-6">
                    <p id="fontButton">
                        <a class = "btn btn-primary btn-md" href="{% url "about"%}" role = "button">Let's Have A Look!</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p id="fontButton">
                        <a class = "btn btn-primary btn-md" href="https://files.catbox.moe/rk0xs4.pdf" role = "button">See My Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<nav class="navbar  navbar-dark bg-secondary text-center fixed-bottom">
  <div class="container-fluid text-center">
      <ul class="nav navbar-nav ml-auto mx-auto">
        <li class="nav-item">
            <p id="copyright">Mahardika Krisna Ihsani © 2019</p>
        </li>
      </ul>
   </div>
<nav>
