<html lang="en">
<head>
  {% load static %}
  {% include "header.html"%}
</head>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'education'%}">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'skills'%}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'projects'%}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'experiences'%}">Experiences</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{%url 'contact'%}">Contact</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{%url 'activity_input'%}">Add Activity</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{%url 'activity_show'%}">My Activity</a>
            </li>
            </ul>
        </div>  
</nav>