<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects</title>
  {% load static %}
  {% include "header.html"%}
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
        <div class="row">
        <br><br>
        <div class="col-md-6">
            <h1 id="heading">Projects</h1>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="container-fluid ">
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <h4>Aegis Bot (December 2018-January 2019)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="paragraph">Multifunctional LINE bot. Created using python for Foundation of Programming Final Assignment</p>
            </div>
        </div>
    </div>
{% include "footer.html"  %}
</body>