<html lang="en">
<head>
  <title>Skills</title>
   {% load static %}
   {% include "header.html"%}
</head>
<body class="mainbody">
 {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">Skills</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
    <div class="container" "col-3 col-xs-3 col-sm-3 col-md-3" style="overflow-y: scroll;">
        <div class="row">
            <div class="col-3 col-xs-3 col-sm-3 col-md-3">
                <h2>Strong</h2>
                <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">Python</h5></div>
                </div>
                <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">Java</h5></div>
                </div>
                <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">English</h5></div>
                </div>
           </div>
           <div class="col-3 col-xs-3 col-sm-3 col-md-3"></div>
           <div class="col-3 col-xs-3 col-sm-3 col-md-3"></div>
           <div class="col-3 col-xs-3 col-sm-3 col-md-3">
                <h2>Familiar</h2>
                 <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">C++</h5></div>
                </div>
       
                 <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">R</h5></div>
                </div>
          
                <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">Linux</h5></div>
                </div>
               
                 <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">Japanese</h5></div>
                </div>
              
                 <div class="row">
                    <div class="col-3 col-xs-3 col-sm-3 col-md-3"><h5 id="skill">Data analysis</h5></div>
                </div>
            </div>

        </div>
      
    </div>
</body>
{% include "footer.html"  %}
</html>
