.jumbotron{
    background-size: cover;
    background-color:gray;
    height: 100vh;
    padding-top:10%;
    padding-bottom:10%;
}

#landingGreeting{
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    text-align: center;
    color: #FFFFFF;

}

#landingIntroduction{
    font-family: 'Text Me One';
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
}

.btn-primary{
    max-width: 350px;
    width:auto;
    height: auto;
    font-size: 2em;
    mix-blend-mode: luminosity;
    background-color: gray; 
}

#fontButton{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
}

#copyright{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.mainbody{
    background-color: grey;
}
